

<div class="form-check">
  <input class="form-check-input" value="sin" type="radio" name="prefijo" id="sin" checked >
  <label class="form-check-label" for="sin">
    DNI Español
  </label>
<div  class="form-check">
    <input class="form-check-input" value="0" type="radio" name="prefijo" id="X" >
    <label class="form-check-label" for="x">
      X
    </label>
</div>
<div  class="form-check">
    <input class="form-check-input" value="1" type="radio" name="prefijo" id="Y" >
    <label class="form-check-label" for="y">
      Y
    </label>
</div>
<div  class="form-check">
    <input class="form-check-input" value="2" type="radio" name="prefijo" id="Z" >
    <label class="form-check-label" for="z">
      Z
    </label>
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">DNI</span>
    <input type="text"  class="form-control" 
    placeholder="Meta su dni" aria-label="Username" 
    aria-describedby="basic-addon1" [(ngModel)]="dni">
    <button  class="btn btn-primary" (click)="calculaLetra()">Calcular Letra</button>
</div>
<table *ngIf = "listaDnis.length>0" class="table">
  <thead class="thead-dark">
    <tr>LISTA DNI COMPLETA</tr>
    <tr>
      <th scope="col">Prefijo</th>
      <th scope="col">Número</th>
      <th scope="col">Letra</th>
    </tr>
  </thead>
  <tbody>
    <!--  Mostramos el contenido lista de dnis-->
    <tr *ngFor="let dniaux of listaDnis">
      <td>{{dniaux.prefijo}}</td>
      <td>{{dniaux.numero}}</td>
      <td>{{dniaux.letra}}</td>
    </tr>
  </tbody>
  <button  class="btn btn-primary" (click)="ordenarPorNumero()">Ordenar por número</button>
  <button  class="btn btn-primary" (click)="ordenarPorLetra()">Ordenar por letra</button>
</table>



