

<button  class="btn btn-primary" (click)="comienza()"> Listado </button>
    <p></p>
    <p></p>
<div *ngIf="opcion" class="card-group">
    <div *ngFor="let listaR of lista_restaurantes" class="card">
      <img class="card-img-top" src="../assets/logo_restaurante.jpeg" align="center" width="25" height="150"  alt="Card image cap">
      <div class="card-body">
        <p class="card-text"><b>Restaurante {{listaR.nombre }}</b></p>
        <p class="card-text">Barrio {{listaR.barrio}}</p>
        <p class="card-text"><i>{{listaR.direccion}}</i></p> 
        <p class="card-text">Web: {{listaR.web}}</p>
        <p class="card-text">Especialidades de la casa:
            <i>{{listaR.especialidad1}}, {{listaR.especialidad2}}, {{listaR.especialidad3}}</i></p>
        <p class="card-text">
            <img align="center" width="25" height="25" src="../assets/google.jpeg">
            <small class="text-muted"> {{listaR.fichaGoogle}}
            Coordenadas: {{listaR.latitud}}, {{listaR.longitud}}</small></p>
    </div>  
</div>
